body{
    font-family: arial;
    margin: 0;
    background-color: #18191a;
    color: white;
}

.row{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.border{
    border: 1px solid #242526;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
}

.row-atrib{
    margin: 8px 35px;
}

.dark{
    background: #18191a;
}

.dark-light{
    background: #242526;
}

.font-light{
    color: #d5d7dc;
}

.card{
    margin: 25px;
    padding: 25px;
}
.card-title{
    font-weight: bold;
    font-size: 18;
    margin: 0 0 15px 0;

}
.card-subtitle{
    color: #d5d7dcba;
    font-size: 15;
    font-style: italic;
    margin: 0 0 15px 0;
}
.card-body{
    text-align: justify;
}


/* +++++++ */
/* BOTONES */
/* +++++++ */
.btn{
    text-decoration: none;
    padding: 7px 15px;
    border: 2px solid #9b9b9b00;
    border-radius: 18px;
    background-color: #9b9b9b;
    color: #fff;
}
.btn:hover{
    background-color: #7d7c7c;
}
.btn:active{
    -webkit-box-shadow: 0px 0px 0px 3px #7d7c7c96;
    -moz-box-shadow: 0px 0px 0px 3px #7d7c7c7a;
    box-shadow: 0px 0px 0px 3px #7d7c7c80;
}


.btn-blue{
    background-color: #23afbd;
}
.btn-blue:hover{
    background-color: #23afbde0;
}
.btn-blue:active{
    -webkit-box-shadow: 0px 0px 0px 3px #26bbca7587;
    -moz-box-shadow: 0px 0px 0px 3px #26bbca75;
    box-shadow: 0px 0px 0px 3px #26bbca75;
}


.btn-red{
    background-color: #E31D1A;
}
.btn-red:hover{
    background-color: #e31d1ae3;
}
.btn-red:active{
    -webkit-box-shadow: 0px 0px 0px 3px #e31d1a8c;
    -moz-box-shadow: 0px 0px 0px 3px #e31d1a8c;
    box-shadow: 0px 0px 0px 3px #e31d1a8c;
}


.btn-yellow{
    background-color: #e2ac2d;
}
.btn-yellow:hover{
    background-color: #e2ac2de6;
}
.btn-yellow:active{
    -webkit-box-shadow: 0px 0px 0px 3px #e2ac2d99;
    -moz-box-shadow: 0px 0px 0px 3px #e2ac2d99;
    box-shadow: 0px 0px 0px 3px #e2ac2d99;
}


.btn-green{
    background-color: #008440;
}
.btn-green:hover{
    background-color: #008440e8;
}
.btn-green:active{
    -webkit-box-shadow: 0px 0px 0px 3px #016933b0;
    -moz-box-shadow: 0px 0px 0px 3px #016933b0;
    box-shadow: 0px 0px 0px 3px #016933b0;
}


.btn-orange{
    background-color: #EF6D51;
}
.btn-orange:hover{
    background-color: #ef6d51e0;
}
.btn-orange:active{
    -webkit-box-shadow: 0px 0px 0px 3px #ef6d51a6;
    -moz-box-shadow: 0px 0px 0px 3px #ef6d51a6;
    box-shadow: 0px 0px 0px 3px #ef6d51a6;
}


.btn-dark{
    background-color: #18191a;
}
.btn-dark:hover{
    background-color: #18191ae0;
}
.btn-dark:active{
    -webkit-box-shadow: 0px 0px 0px 3px #18191a91;
    -moz-box-shadow: 0px 0px 0px 3px #18191a91;
    box-shadow: 0px 0px 0px 3px #18191a91;
}


.btn-light{
    background-color: #f8f9fa;
    color: #18191a;
}
.btn-light:hover{
    background-color: #f8f9fae0;
}
.btn-light:active{
    -webkit-box-shadow: 0px 0px 0px 3px #f8f9fa6b;
    -moz-box-shadow: 0px 0px 0px 3px #f8f9fa6b;
    box-shadow: 0px 0px 0px 3px #f8f9fa6b;
}


/* ++++++++++ */
/* NAVEGACION */
/* ++++++++++ */
.navbar{
    width: 100%;
    background-color: #242526;
    display: flex;
    justify-content: center;
}
.navbar a{
    text-decoration: none;
    color: #f8f9fa;
}
.navbar a:hover{
    color: #8a8a8a;
}
.navbar ul{
    padding: 15px 0;
    width: 80%;
    margin: 0;
}
.navbar li{
    list-style: none;
    padding: 0 20px;
    display: inline;
}

/* ++++++++++++++ */
/* COLOR DE FONDO */
/* ++++++++++++++ */
.bg-blue{
    background-color: #23afbd;
}
.bg-red{
    background-color: #e31d1a;
}
.bg-yellow{
    background-color: #e2ac2d;
}
.bg-green{
    background-color: #008440;
}
.bg-orange{
    background-color: #ef6d51;
}
.bg-dark{
    background-color: #18191a;
}
.bg-light{
    background-color: #f8f9fa;
}


/* ++++++++++++++ */
/* COLOR DE TEXTO */
/* ++++++++++++++ */
.txt-blue{
    text-decoration: none;
    color: #23afbd;
}
.txt-red{
    text-decoration: none;
    color: #e31d1a;
}
.txt-yellow{
    text-decoration: none;
    color: #e2ac2d;
}
.txt-green{
    text-decoration: none;
    color: #008440;
}
.txt-orange{
    text-decoration: none;
    color: #ef6d51;
}
.txt-dark{
    text-decoration: none;
    color: #18191a;
}
.txt-ligth{
    text-decoration: none;
    color: #f8f9fa;
}
